.formDetailsSearch{
    display: block;
    margin: 20px auto 0 auto;
    max-width: 500px;
    padding: 5px;
    color: var(--black);
}

.formDetailsSearch label{
    font-size: 24px;
    font-style: italic;
    border-left: 3px solid var(--cyan);
}

.formDetailsSearch input{
    margin: 5px 0 0 0;
    font-size: 17px;
    padding: 10px;
    width: 90%;
    transition: transform 150ms ease-in-out;
    border-style: none;
    outline: none;
    border-radius: 40px;
    background-color: white;
}

.formDetailsSearch input:focus{
    outline: 1px solid var(--gray);
    transform: translateX(5px);
}

.formDetailsSearch .submit {
    margin-top: 10px;
    padding: 5px;
    display: block;
    width: 100%;
    text-align: center;
    font-family: var(--firstFont);
    color: var(--black);
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--cyan);
    font-size: 21px;
    box-shadow: 0px 0px 15px -3px #000000;
    transition: all 150ms ease-in-out;
  }

  .formDetailsSearch .submit:hover{
    cursor: pointer;
    box-shadow: 0px 6px 15px -3px #000000;
    transform: translateY(-4px);
  }

  .containerDetails{
    display: block;
    margin: 5px 0 0 0;
    padding: 5px;
    color: var(--black);
    background-color: white;
    border-radius: 15px;
  }

  .containerButton{
    margin: 5px 0 0 0;
    display: flex;
    gap: 2px;
  }

  .containerButton .button{
      text-decoration: none;
  }
  .containerButton .button:first-child{
      margin-left: auto;
      text-decoration: none;
  }

  .containerButton > a > button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      font-size: 20px;
      border-style: none;
      outline: none;
      cursor: pointer;
  }

  .containerButton > a:nth-child(1) > button{
    background-color: rgb(93, 231, 93);
  }

  .containerButton  > a:nth-child(1):hover > button{
    background-color: rgb(77, 189, 77);
  }

  .containerButton > a:nth-child(2) > button{
    background-color: rgb(219, 61, 61);
  }
  .containerButton  > a:nth-child(2):hover > button{
    background-color: rgb(176, 52, 52);
  }


  .containerDetails > table{
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse
  }

  .containerDetails > table td{
    margin: 0;
    padding: 10px;
  }

  .containerDetails > table tr:not(:last-child){
    border-bottom: 1px solid var(--cyan);
  }

  .containerDetails > table td{
    font-size: 21px;
  }

  .containerDetails > table td:first-child{
    border-right: 1px solid var(--cyan);
    width: 100px;
    vertical-align: top;
    color: rgb(67, 67, 67);
    font-size: 15px;
    font-weight: normal;
    text-transform: lowercase;
    font-style: italic;
  }

  .containerDetails > table p{
    margin: 0 0 10px 0;
    font-size: 15px;
    padding: 0;
  }


  .containerDetails > table img{
    width: 25%;
  }
  /* .containerDetails h3{
    margin: 0;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .containerDetails h3 > span{
    color: rgb(67, 67, 67);
    font-size: 15px;
    font-weight: normal;
    text-transform: lowercase;
  } */

.push-button-3d {
    display: block;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 0 4px var(--black);
    color: white;
    background-color: var(--cyan);
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 150ms ease;
    font-weight: 900;
    cursor: pointer;
}

.push-button-3d i{
    margin-left: 5px;
}

.push-button-3d:active {
    box-shadow: 0 1px var(--black);
    transform: translateY(3px);
}