.mainContainer{
    max-width: 600px;
    margin: 15px auto;
}

.errorMsg{
    font-size: 27px;
    color: rgb(202, 0, 0);
    margin: 0;
}

.formEdit{
    font-size: 17px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
}

.formEdit label{
    display: block;
    font-size: 27px;
    color: black;
    border-bottom: 1px solid var(--black);
}

.formEdit input{
    margin: 5px 0 15px 0;
    width: 100%;
    padding: 5px;
}

.formEdit textarea{
    margin: 5px 0 15px 0;
    width: 100%;
    resize: vertical;
    padding: 5px;
}

.containError{
    max-width: 500px;
    margin: 0 auto;
    color: rgb(202, 0, 0);
    font-size: 27px;
}

.failedConnectDb{
    margin: 20px auto;
    max-width: 500px;
    font-size: 27px;
    color: rgb(202, 0, 0);
}