main > section{
    max-width: 800px;
    margin: 15px auto;
    padding: 5px;
}

main > section h2{
    margin: 0;
    font-size: 24px;
    color: var(--black);
    font-weight: bold;
    border-bottom: 3px solid var(--cyan);
}

.detailsInsert{
    max-width: 500px;
}

.detailsInsert h3{
    font-size: 20px;
    font-weight: normal;
    margin: 15px 0 5px 0;
    border-bottom: 1px solid var(--gray);
}

.detailsInsert h4{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.detailsInsert h3 > span{
    font-style: italic;
}

.detailsInsert p{
    font-size: 17px;
    margin: 0 0 15px 0;
}

.containerButton{
    margin-top: 15px;
}

.push-button-3d {
    display: block;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 0 4px var(--black);
    color: white;
    background-color: var(--cyan);
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 150ms ease;
    font-weight: 900;
    cursor: pointer;
}

.push-button-3d i{
    margin-left: 5px;
}

.push-button-3d:active {
    box-shadow: 0 1px var(--black);
    transform: translateY(3px);
}